---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    {%- assign date_format = site.date_format | default: "%-d %b %Y" -%}
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format }}</time>
    {%- if page.last_modified_at -%}
    <span> ~ </span>
    {%- assign mdate = page.last_modified_at | date_to_xmlschema -%}
    <time datetime="{{ mdate }}" itemprop="dateModified">
      {{ mdate | date: date_format }}
    </time>
    {%- endif -%}
    {%- if page.author -%}
    <span> • </span>
    {% for author in page.author %}
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          {{ author }}
        </span>
    {%- if forloop.last == false %}, {% endif -%}
    {% endfor %}
    {%- endif -%}
  </div>

  {{ content }}

  {% if page.tags %}
  {% include post-tags.html %}
  {% endif %}

  {% if jekyll.environment == "production" and site.disqus and page.comments != false %}
  {% include disqus.html %}
  {% endif %}
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
        <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
      </a>
    </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}